$backgroundColor1:rgba(2, 57, 62, 1);
@import '../../../styles/basicsStyles';
@import '../../../styles/variables';
#topNav{
    margin-top: 5px;
    // background-color: $backgroundColor1;
}
.brand{
    display: block;
    font-size: 40px;
    cursor: pointer;
    color: black;
    text-align: center;
}


.menuIcon{
    display: block;
    margin-top: 15px;
    color:black;
}

.arrowIcon{
    display: block;
    margin-top: 15px;
    color: black;
}


.dpInSidenav{
    display: block;
    margin: 10px 20px;
}


.dp{
    display: block;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 50%;
    }

    // .col{
    //     border: 1px solid red;
    // }

.accountLinks{
    display: block;
    font-size: 1.1em;
    margin-top:15px;
    cursor: pointer;
    color: white;    
    background-color: black;
    text-align: center;
    padding: 5px 0;
    border: 1px solid black;
    border-bottom-right-radius: $borderRadiusDownRight;
    border-top-left-radius: $borderRadiusTopLeft;
    transition: background-color 1s ,  border-radius 1s;
    transition-timing-function: ease-in-out;
    &:hover{
        border: 1px solid black;
        background-color: white;
        border-radius: 10px;
        color: black;
    }
}

.modalInNav{
    width: 50%;
}


.modalBtnContainer {
    width: 100%;
    margin: 10px auto;

    .modalBtn  {
        margin: 10px auto;
        cursor: pointer;
        display: flex;
        justify-content: center;
        font-size: 1.4em;
        text-align: center;
        border: 1px solid black;
        border-top-left-radius: $borderRadiusTopLeft;
        border-bottom-right-radius: $borderRadiusDownRight;
        border: 1px solid white;
        background-color: black;
        color: white;
        transition: background-color 1s, border-radius 1s;
        transition-timing-function: ease-in-out;
        padding: 8px 0;
        &:hover {
            border: 1px solid black;
            background-color: white;
            border-radius: 10px;
            color: black;
        }
    }
}

// .col{
//     border :1px solid yellow;
// }

@media only screen and (max-width:480px){
    .modalInNav{
        width: 95%;
        .message{
            font-size: 1.3em;
        }
    }
}