@import "../../../styles/variables";
@import '../../../styles/basicsStyles';

.answer{
    margin-left: 8%;
    font-size: 1.2em;
}

.ques-ans{
    border-bottom: 1px solid  black;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.bigBtns{
    margin-top: 20px;
    font-size: 18px;
    padding: 8px 0px;
    @include mubaraahBtn()
}

.squestionStatement{
    font-size: 1.4em;
}
