@import '../../../styles/basicsStyles';

.favUser{
    border-left: 3px solid rgba(180, 6, 6, 0.904);
}

.innerLayer{
    margin-bottom: 30px;
    font-size: 1.5em;
    .dp{
        display: block;
        width: 50px;
        height: 50px;
    }

    p{
        padding: 0;
        margin: 0;
        margin-top: 5px;       
    }

}
.newMessage{
    // position: relative;
    // top: 50px;
    white-space: nowrap;
    font-size: 0.3em;
}

.newMessage{
    font-size: 0.5em;
    color:rgb(219, 7, 53);
    &:hover{
        color:rgb(221, 10, 48)

    }
}

.usernameo{
    // background-color: red;
    margin-top: 15px;
    padding-left: 5px;
    // background-color: yellow;
}
// @media only screen and (max-width:480px){

    
