@import "../../../styles/basicsStyles";
@import "../../../styles/variables";


.pairomeBtn {
    @include mubaraahBtn();
    font-size: 1.3em;
    padding: 10px 20px;
    
}


.expandBtn {
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 1em;
    padding: 2px 20px;
    width: 80%;
    @include mubaraahBtn();
}

.disabledBtn {
    background-color: rgba(0, 0, 0, 0.246);
    color: white;
    cursor: not-allowed;
    font-size: 1.3em;
    padding: 10px 20px;
    // border-radius: $borderRadius;
    border-bottom-right-radius: $borderRadiusDownRight;
    border-top-left-radius: $borderRadiusTopLeft;
}

.questionStatement {
    text-align: center;
    font-size: 2em;
}

.optionName {
    font-size: 1.2em;
}

.option {

    &:hover {
        img {
            border-radius: $borderRadius;
            border: 2px solid black;
            cursor: pointer;
            opacity: 0.7;
        }

    }
}

.decreaseOpacity {
    opacity: 0.7;

    border-radius: $borderRadius;
    border: 2px solid black;
}

.boolOptionSelected {
    background-color: green;
    color: white;
    font-size: 1.3em;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: $borderRadius;
    // @include mubaraahBtn();
       
}

.boolOptionNotSelected {
    background-color: white;
    color: black;
    font-size: 1.3em;
    padding: 10px 20px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: $borderRadius;
}





@media only screen and (max-width: 770px) {
    .questionBoardHeading{
        font-size: 1.5em;
    }

    .questionStatement {
        font: 2em;
    }
    .questionNavig{
    .pairomeBtn {
        font-size: 1.2em;
    }

    .disabledBtn {
        font-size: 1.2em;
    }
}
}

@media only screen and (max-width: 480px) {

    .questionBoardHeading{
        font-size: 1.8em;
    }


    .questionStatement {
        font: 0.8em;
        text-align: center;
    }
    .questionNavig{

    
    .pairomeBtn {
        font-size: 1.2em;
        padding: 1px 8px;
    }

    .disabledBtn {
        font-size: 1.2em;
        padding: 1px 8px;
    }
}

}